.advantages {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;

  &__icons {
    background-color: #f5f4fa;
    height: 120px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  &__h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.adv__list > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.adv__list > p {
  width: 270px;
  line-height: 1.71;
  color: #757575;
}

@media (max-width: 570px) {
  .adv__list > p {
    width: 100%;
  }
}
@media (max-width: $mobile-size) {
  .advantages {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .adv__list {
    width: 354px;
  }
}
