.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
  width: 100%;
  &__help {
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  @media (max-width: $mobile-size) {
    &__nav {
      padding-left: 15px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--letters_and_logo_color_black);
    fill: currentColor;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
  }
  &__link:hover {
    color: var(--link_and_button_color);
  }
  &__kontakt {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
  }
  &__kontakt--icon {
    fill: currentColor;
    vertical-align: middle;
    --color2: currentColor;
    margin-right: 10px;
  }
  &__kontact--link {
    color: #757575;
  }
  &__kontakt > a:hover {
    color: var(--link_and_button_color);
  }
  &__list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 93px;
  }
  @media (min-width: 768px) and (max-width: 900px) {
    &__kontakt {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
  }
  @media (max-width: 767px) {
    &__list {
      display: none;
    }
  }
  @media (max-width: 767px) {
    &__kontakt {
      display: none;
    }
  }
}
.background__header {
  text-align: center;
  align-items: center;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-image/mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-image/mobile@2.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("../images/bg-image/tablet.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-image/tablet@2.jpg");
  }
  @media (min-width: 12000px) {
    background-image: url("../images/bg-image/detskop.jpg");
    height: 37.5rem;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bg-image/detskop@2.jpg");
  }
}
@media (max-width: $mobile-size) {
  .background__header {
    height: 400px;
    padding: 118px 0;
  }
}
