.title__section--h1 {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--letters_and_logo_color_white);
  font-weight: 900;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: $tablet-size) {
  .title__section--h1 {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}
.title__section--button {
  min-width: 200px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--letters_and_logo_color_white);
  box-shadow: 0px 4px 4px var(--letters_and_logo_color_black);
  border-radius: 4px;
  background-color: var(--link_and_button_color);
  margin: 0 auto;
  padding: 10px 41px;
  border: none;
}
