button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.title__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;

  &--h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.but__list {
  display: inline-flex;
}
.but__list > button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  color: var(--letters_and_logo_color_black);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.03em;
  font-family: inherit;
  padding: 6px 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.but__list > button:hover,
.but__list > button:focus {
  background-color: var(--link_and_button_color);
  color: var(--letters_and_logo_color_white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
